

body{
    color: #fff;
    background: linear-gradient(to top, #feac5e, #c779d0, #4bc0c8) no-repeat;
    font-family: 'Roboto', sans-serif;
}

.bouton-inscription{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #3498db;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.bouton-inscription:hover {
    background-color: #FFCC00;
    color: white;
}


.form-control, .btn{
    border-radius: 3px;
}
.signup-form{
    width: 400px;
    margin: 0 auto;
    padding: 100px 0;
}
.signup-form h2{
    color: white;
    font-weight: bold;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before{
    left: 0;
}
.signup-form h2:after{
    right: 0;
}
.signup-form .hint-text{
    color: white;
    margin-bottom: 45px;
    text-align: center;
}
.signup-form form{

    color: white;
    border-radius: 3px;
    margin-bottom: 75px;
    background-color:rgba(72,72,72,0.4);
    margin-top:80px;
    padding: 60px;
    padding-bottom: 180px;
}




.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}


.signup-form a{
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}
.signup-form form a:hover{
    text-decoration: underline;